:root {
	font-family: 'Nunito', sans-serif;
	--font-main: 'Nunito';
	--color-white: #ffffff;
	--color-primary: #6764E9;
	--color-secondary: #F5AD1C;
	--color-primary-10: #f0f0fd;
  --color-text: #242424;
  --color-secondary-text: #b2b2b2;
  --border-radius: 12px;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body, p, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
  color: var(--color-text);
}

img {
  max-width: 100%;
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito/nunito-v26-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/nunito/nunito-v26-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nunito/nunito-v26-cyrillic_latin-700.woff2') format('woff2');
}

